.header {
    overflow: hidden;
    position: relative;
}

.header__background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.header__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.header__background::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 20vw;
    bottom: -15px;
    right: 0;
    border-top: 20vw solid transparent;
    border-right: 50vw solid white;
    border-left: 50vw solid white;
}

.header__background>img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__mobile-menu {
    width: 40px;
    height: 32px;
    background: url(/img/svg/burger-button.svg) no-repeat;
    background-position: center;
}

.header__nav-links {
    display: none;
}

.main-logo {
    padding: 10px;
}

.soc-links {
    display: none;
}

.header__content {
    margin: 0 auto;
    max-width: 820px;
    padding: 80px 0 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header__hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 27px;
    color: white;
}

.header__hero-title {
    font-size: 48px;
    line-height: 55px;
}

.header__hero-description {
    font-size: 28px;
    line-height: 40px;
    padding: 0 30px;
}

.header__hero-description>span {
    display: none;
}

.header__hero-button {
    width: 236px;
}

@media screen and (min-width:415px) {
    .header__nav-links {
        gap: 10px;
        display: flex;
        justify-content: space-between;
    }

    .nav-link>a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    .main-logo {
        margin-left: 70px;
    }

    .soc-links {
        display: flex;
        gap: 24px;
    }

    .soc-links>li {
        width: 41px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__mobile-menu {
        display: none;
    }

    .header__bar {
        max-width: 1210px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 156px;
    }

    .header__hero-title {
        font-size: 74px;
        font-weight: 700;
        line-height: 84px;
    }

    .header__hero-description>span {
        display: inline;
    }

    .header__background::after {
        height: 10vw;
        bottom: 0;
        border-top: 10vw solid transparent;
    }
}