.newsletter__content {
    padding: 50px 0;
}

.newsletter__description {
    text-align: center;
}

.newsletter_img {
    width: 100%;
    padding: 59px 0;
}

.newsletter__upper-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.newsletter__title {
    padding: 7px 0;
}

.newsletter__text {
    font-size: 18px;
    line-height: 25px;
    padding: 10px 0;
}

.newsletter__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    width: 100%;
}

.form__text {
    font-size: 18px;
    line-height: 25px;
    width: 100%;
}

.input__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;
}

.newsletter__input {
    background-color: #F4F4F4;
    border-radius: 35px;
    padding: 19px 35px;
}

.newsletter__button {
    padding: 19px 35px;
}

@media screen and (min-width: 321px) {
    .newsletter__content {
        display: flex;

    }
}